<div id="<%= dom_id comment %>" class="box">
  <p>
    <strong>Contenido:</strong>
    <span class="content"><%= comment.content %></span>
  </p>

  <p>
    <strong>Usuario:</strong>
    <span class="has-text-weight-semibold"><%= comment.user&.email || "Anónimo" %></span>
  </p>
</div>
